* {
    font-family: 'Nunito', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    font-weight: normal;
}

header {
    height: 80px;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    background-color: lightgray;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
}

header * {
    display: inline;
    vertical-align: middle;
}

header li {
    padding: 10px 15px 10px 15px;
    border: 2px white solid;
}

header li:hover{
    background-color: darkgray;
}

header a {
    color: black;
    text-decoration: none;
}

.content {
    margin: 7rem 3rem 0.5rem 3rem;
}

.button_blue {
    background-color: dodgerblue;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    float: left;
    text-decoration: none;
}

.button_blue:hover {
    cursor: pointer;
    background-color: #0074e4;
}